<div *ngIf="createPost else spinner">
<mat-card>
    <form #form="ngForm" [formGroup]="createPostForm" (ngSubmit)="onPostClick()">
    <mat-form-field>
            <input matInput placeholder="Title" formControlName="title">
    </mat-form-field>

    <mat-form-field>
            <textarea matInput placeholder="Post Description" formControlName="description"></textarea>
    </mat-form-field>
    
    <button mat-raised-button color="accent" type="submit">Save Post</button>
    </form>
</mat-card>
</div>

<ng-template #spinner>
        <mat-spinner></mat-spinner>
</ng-template>