<div *ngIf="createPost else spinner">
<mat-card>
    <form #form="ngForm" [formGroup]="createPostForm" (ngSubmit)="onPostClick()">
    <mat-form-field>
            <input matInput placeholder="Title" formControlName="title">
    </mat-form-field>

    <div class="file-picker">
        <button mat-stroked-button (click)="filePicker.click()" type="button">Pick Image</button>
        <input type="file" (change)="onImagePicked($event)" #filePicker>
    </div>
    <div class="image-preview" *ngIf="createPostForm.get('image').valid && createPostForm.get('image').value != null">
            <img [src]="imagePreview" [alt]="createPostForm.value.title">
    </div>

    <mat-form-field>
            <textarea matInput placeholder="Post Description" formControlName="description"></textarea>
    </mat-form-field>
    
    <button mat-raised-button [disabled]="isSaveEditDisabled" [color]="editPost?'primary':'accent'" type="submit">{{editPost?'Edit Post':'Save Post'}}</button>
    <button mat-raised-button [color]="'accent'" class="ml-2" *ngIf="editPost" (click)="onCancel()" type="button">Cancel</button>
    </form>
</mat-card>
</div>

<ng-template #spinner>
        <mat-spinner></mat-spinner>
</ng-template>