<mat-accordion *ngIf="posts.length > 0 else noPostError">
    <mat-expansion-panel *ngFor="let post of posts; let i = index">
        <mat-expansion-panel-header>
           {{post.title}}
        </mat-expansion-panel-header>
        <p>{{post.description}}</p>
        <mat-action-row>
            <button mat-raised-button color="primary" (click)="onEditPost(i)">Edit</button>
            <button mat-raised-button color="warn" (click)="onDeletePost(i)">Delete</button>
        </mat-action-row>
    </mat-expansion-panel>
</mat-accordion>
<ng-template #noPostError>
    <p class="mat-body-1 info-text">No Posts added yet!</p>
</ng-template>